$blue: #1070CA;
$blueConsole: #14B5D0;
$console: #212528;
$darkConsole: #1E1E1E;
$gray: #DBEAF7;
$grayDark: #808082;
$grayLight: #A3A3A3;
$green: #06C847;
$lightBlue: #4DA8FF;
$mediumGray: #464A4D;
$text: #425A70;
$textDark: #234361;
$white: #fff;

