@keyframes wave {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

.hand {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    transform-origin: bottom center;

}