
@import "_variables.scss";

.hero {
    padding: 64px 16px 60px;
    @media (min-width: $tablet) {
        max-width: 760px;
        margin: 0 auto;
    }
    &__bubble {
        position: absolute;
        left: calc(50% + 90px);
        top: -26px;
    }
    &__contact {
        color:#fff;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        line-height: 40px;
        background-color: $lightBlue;
        border-radius: 64px;
        padding: 4px 24px;
        display: inline-block;
        @media (max-width: $mobileS) {
            font-size: 16px;
            padding: 2px 20px;
        }
    }
    &__description {
        text-align: center;
    }

    &__hello {
        display:none;
        @media (min-width: $desktop) {
            display: block;
            background: $blue;
            padding: 16px 19px;
            color: $white;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            border-radius: 16px;
            display: inline-block;
            align-items: center;
            text-align: center;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 32px;
                display:block;
                background: url('/assets/img/Speech.svg');
                height:24px;
                width:24px;
            }
        }
    }
    &__image {
        box-sizing: content-box;
        height: 96px;
        width: 96px;
        border-radius: 50%;  
        border: 16px solid #F6F9FD;  
        @media (min-width: $desktop) {
            height: 178px;
            width: 178px;
            border: 24px solid #F6F9FD;

        }
    }
    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__link {
        color: $lightBlue;
        font-weight: bold;
        text-decoration: none;
    }
    &__header {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: $textDark;
        @media (min-width: $desktop) {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;

        }
    }
    &__paragraph {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        text-align: center;
        color: #425A70;
        margin-bottom: 48px;
        font-weight: 300;
        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
}


    }
}

   