@import "_variables.scss";
@import "hand.scss";
@import "hero.scss";
@import "skills.scss";
@import "projects.scss";
@import "contact.scss";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
font-family: Nunito;
color: $text;
margin:0} 

    